# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Output data
data/
*.ndjson
*.log

# PyCharm
.idea/
